.navbar-css {
  border-width: 1px;
  border-top-style: solid;
  border-top-color: #d3d6da;
  border-bottom-style: solid;
  border-bottom-color: #d3d6da;
  text-align: center;
  font-size: 36px;
  font-family: Tinos, serif;
  font-weight: bold;
}

.speaker-animation-css {
  size: 1px;
  width: 3px;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 20px;
}