.navbarCss {
  font-size: large;
  margin-top: 1rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #d3d6da;
  margin-bottom: 2rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d3d6da;
  text-align: center;
}

.title-wordle {
  font-size: 36px;
  font-family: Tinos, serif;
  font-weight: bold;
}
